// toc.scss, navbar.scss, sidebar.scss

// 使用 CSS 的 @import 语法
@import "vidstack/player/styles/default/theme.css";
@import "vidstack/player/styles/default/layouts/audio.css";
@import "vidstack/player/styles/default/layouts/video.css";

.toc-place-holder {
  // 从原本距离导航栏 2rem 改为 5rem
  top: calc(var(--navbar-height) + 5rem);
}

// 代码块纵向滚动条（仅纵向，不横向）
div[class*="language-"] pre {
  overflow-y: auto !important;
  overflow-x: hidden !important;
  max-height: 80vh;
}

#toc {
  // 增加 toc 与内容区的距离
  // left: calc(100% + 2rem);

  // 隐藏目录文字「此页内容」
  // .toc-header {
  //   visibility: hidden;
  // }
}
