<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

<!--    加了这个 @AutoWire 才生效-->
    <context:annotation-config/>

<!--    ,org.example.config    这样就会扫描到配置类，说明配置类也是component-->
    <context:component-scan base-package="org.example"/>

<!--    <aop:config>-->
<!--        <aop:pointcut id="pointcut" expression="execution(* org.example.service.impl.CRUDImpl.*(..))"/>-->

<!--        <aop:advisor advice-ref="afterLog" pointcut-ref="pointcut"/>-->
<!--        <aop:advisor advice-ref="beforeLog" pointcut-ref="pointcut"/>-->
<!--    </aop:config>-->


<!--    <import resource="beans-AOP2.xml"/>-->
    <import resource="beans-AOP3.xml"/>
</beans>