<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.StudentMapper">

<!--    Map<Integer, Student> getMapPrimaryToEntity();-->
    <select id="getMapPrimaryToEntity" resultType="student">
        select * from student
    </select>



<!--    Map<String, Object> getStudentByIdReturnMap(Integer id);-->
    <select id="getStudentByIdReturnMap" resultType="map">
        select * from student where id = #{id}
    </select>

    <select id="selectStudent" resultType="org.example.bean.Student">
        select * from student
    </select>


    <!--
        useGeneratedKeys="true": 开启获取自增主键的策略
        keyColumn: 指定数据库主键的列名
        keyProperty: 指定对应的主键属性, ps(获取到主键值后, 将这个值封装给javaBean的哪个属性)
    -->
    <insert id="addStudent" parameterType="org.example.bean.Student" useGeneratedKeys="true" keyProperty="id">
        insert student(name,email,age) values(#{name},#{email},#{age})
    </insert>
</mapper>